<!doctype html>
<html lang='en'>

<head>
    <title>Rock, Paper, Scissors, Lizard, Spock</title>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='styles.css'>
    <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js' defer></script>
    <script src='script.js' defer></script>
</head>

<body>
    <h1>Rock, Paper, Scissors, Lizard, Spock</h1>
    <p>"Big Bang Theory" fans will recognize this game. For those who
        don't, <a href="https://the-big-bang-theory.com/rock-paper-scissors-lizard-spock/" target=_blank>here's a
            primer</a>.
    </p>
    <p>As a cheat sheet, here is a diagram of what beats what:</p>
    <p><img src='images/rpsls.png' alt='Rock-Paper-Scissors-Lizard-Spock-Diagram'></p>
    <p>Got it? Good. Let's play!</p>

    <h2>Choose your attack!</h2>
    <div id='app' v-cloak>
        <p><label><input type='radio' v-model='chosen' value='rock'>💎 Rock</label></p>
        <p><label><input type='radio' v-model='chosen' value='paper'>📰 Paper</label></p>
        <p><label><input type='radio' v-model='chosen' value='scissors'>✂ Scissors</label></p>
        <p><label><input type='radio' v-model='chosen' value='lizard'>🦎 Lizard</label></p>
        <p><label><input type='radio' v-model='chosen' value='spock'>🖖 Spock</label></p>
        <button v-on:click='match(chosen)'>Attack!</button>
        <div v-if='compChoice'>
            <div v-if='chosen'>Player chose: {{ chosen }}</div>
            <div>Computer chose: {{ compChoice }}</div>
            <div v-if='winner == "player"' id='won'>You won!</div>
            <div v-else-if='winner == "tie"'>It's a draw!</div>
            <div v-else id='lost'>You lost.</div>
        </div>
    </div>
</body>

</html>